<div id= "m_btn" class="ui pointing menu inverted fluid three item">
  <div class="ui labeled icon button black">
   <i class="fa fa-list fa-lg"></i>
   Menu
  </div>
</div>
<div id="banner">
  <h2 class="ui center aligned icon header">
    <i class="circular fa fa-globe fa-5x"></i><br />
    TranslateMe
  </h2>
</div>
<div id="table-option">
  <div id= "option" class="ui menu fluid two item">
    <a href="#recents" class="item">
      <i class="fa fa-sort fa-lg"></i>Recents
    </a>
    <a href="#categories" class="item">
      <i class="fa fa-calendar-o fa-lg"></i>Categories
    </a>
  </div>
</div>
<div id="card_table">
  <table class="ui table segment two column">
    <thead>
      <tr>
        <th>English Phrase</th>
        <th>Explanation</th>
      </tr>
    </thead>
    <tbody>
        <script type="text/template" data-template="card-template">
          <td>{{english_phrase}}</td>
          <td><a href="#{{id}}">{{explanation}}</a></td>
        </script>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>

<script type="text/template" data-template="card-show-template">
  //   <i class="close icon"></i>
  //   <div class="description">
  //     <div class="ui header">Cards</div>
  //       <p>Phrase: {{english_phrase}}</p>
  //       <p>Explanation: {{explanation}}</p>
  //       {{#translations}}
  //         <p>Translation: {{translation}}</p>
  //         <p>Language: {{language}}</p>
  //         <p>Phonetic: {{phonetic}}</p>
  //       {{/translations}}
  //       {{#categories}}
  //       <p>Categories: {{category_name}}</p>
  //       {{/categories}}
  //   </div>
  // </div>
  // </div>
</script>
