<div id= "m_btn" class="ui pointing menu inverted fluid three item">
  <div class="ui labeled icon button black">
   <i class="fa fa-list fa-lg"></i>
   Menu
  </div>
</div>
<div id="banner">
  <h2 class="ui center aligned icon header">
    <i class="circular fa fa-globe fa-5x"></i><br />
    <p class="title">TranslateMe</p>
  </h2>
  <h3 class="ui center aligned header">Welcome, Guest! You're looking quite sharp today.</h3>
</div>
<div id="table-option">
  <div id= "option" class="ui menu fluid two item">
    <a href="#recents" class="item">
      <i class="fa fa-history fa-lg"></i>Recents
    </a>
    <a href="#categories" class="item">
      <i class="fa fa-tags fa-lg"></i>Categories
    </a>
  </div>
</div>
<div id="card_table">
  <table class="ui table segment two column">
    <thead>
        <tr data-id="table-header">
        </tr>
    </thead>
    <tbody>
  
        <script type="text/template" data-template="card-template">
          <td>{{english_phrase}}</td>
          <td><a href="#/cards/{{id}}">{{explanation}}</a></td>
          <td>{{updated_at}}</td>
        </script>

    </tbody>
  </table>
</div>

<script type="text/template" data-template="card-show-template">
    <div class="header">
    <a class="star"><i class="fa fa-star fa-lg"></i></a>
    {{english_phrase}}
    <a class="close"><i class="fa fa-times fa-1x"></i></a>
    </div>
      <div class="content">
        <div class="ui segment">
          <div class="description">  
            <h1 class="ui header centered">{{english_phrase}}</h1>
            <h2 class="ui header centered">{{explanation}}</h2>
            <p><i class="fa fa-tags fa-lg"></i>Categories:</p>
            <p>  
            {{#categories}}
              {{category_name}}, 
            {{/categories}}
            </p>
            <h4 class="ui horizontal header divider">
              <i class="fa fa-comments-o fa-2x"></i>  
              Translations
            </h4>

            <div id="padded-content" class="ui padded grid four wide column" data-id="translation-list">

            </div>
         
          </div>
        </div>
      </div>
</script>

<script type="text/template" data-template="translation-template">
  <div id="padded-content" class="ui padded grid four wide column">
    <div class="four column row">
      <h5>Language: {{language}}</h5>
    </div>
    <div class="four column centered row">
      <div class="one column">
        <p>Translation: {{translation}}</p>
      </div>
      <div class="one column">
        <p>Phonetic: {{phonetic}}</p>
      </div>
    </div>
    <div class="four column centered row">
      <h2>Meaning: {{meaning}}</h2>
    </div>
    <div class="row">
      <div class="one right aligned column">
        {{#user}}
        <p><i class="fa fa-user fa-lg"></i>{{username}}</p>
        {{/user}}
      </div>
    </div>
  </div>
  <div class="ui divider"></div>

</script>


<script type="text/template" data-template="translate-show-template">
  <!-- <div id="padded-content" class="ui padded grid four wide column"> -->
              <div class="four column row">
                <h5>Language: {{language}}</h5>
              </div>
              <div class="four column centered row">
                <div class="one column">
                  <p>Translation: {{translation}}</p>
                </div>
                <div class="one column">
                  <p>Phonetic: {{phonetic}}</p>
                </div>
              </div>
              <div class="four column centered row">
                <h2>Meaning: {{meaning}}</h2>
              </div>
              <div class="row">
                <div class="one right aligned column">
                  {{#user}}
                  <p><i class="fa fa-user fa-lg"></i>{{username}}</p>
                  {{/user}}
                </div>
              </div>
            <!-- <div class="ui divider"></div> -->
            <!-- </div> -->
</script>



<script type="text/template" data-template="category-template">
  <td><a href="#categories/{{id}}">{{category_name}}</a></td>
</script> 




