body {
  margin: 0;
  padding: 0;
  font-family: "helvetica", arial;
}

#banner {
  display: block;
  width: 100%;
  height: 300px;
  background-color: lightgreen;
  margin-top: -14px;
  padding-top: 50px;
}

.btn-success {
  position: absolute;
  margin-left: 50%;
  padding-top: 180px;
}

#table-option {
  margin: 40px 40px 10px 40px;
  text-align: center;
}

#option {
  max-width: 1024px;
  margin: 0 auto;
}


#m_btn {
  display: none;
  width: 20px;
  background: none;
}

.fa {
  margin-right: 15px;
}

#card_table {
  margin: 40px 40px 40px 40px;
  max-width: 1024px;
  margin: 0 auto;
}

#padded-content {
  padding: 10px;
}

p.title {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
}

.fa-times {
  float: right;
  color: grey;
  text-align: right;
}

#login {
  width: 800px;
  margin: 175px auto;
}

#sign-up {
  max-width: 700px;
  margin: 40px auto;
}

a.star {
  color: grey;
}


a.star:hover {
  color: gold;
}

@media all and (max-width: 630px) {
  #menu{display: none;}
  #m_btn {display: inline-block;}
}