<!DOCTYPE html>
<html>
<head>
  <title>Translateme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="ui inverted menu">
  <div class="item"></div> 
  <div class="item"></div> 
  <a href="/" class="active item">
    <i class="fa fa-home fa-lg"></i> Home
  </a>
  <a class="item">
    <i class="mail icon"></i> Messages
  </a>
  <a class="item">
    <i class="user icon"></i> Friends
  </a>

  <div class="right menu">
    <a href="/login/new" class="ui item">
      Login
    </a>
    <div class="item"></div> 
    <div class="item"></div> 
  </div>
</div>


<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
